---
import { Image } from "astro:assets";
import Eye from "../components/icons/Eye";
import GitHub from "../components/icons/GitHub";
import Layout from "../layouts/Layout.astro";
import bulb from "../assets/bulb.png";
import fkit from "../assets/fkit.png";
import memory from "../assets/memory.png";
import risk from "../assets/risk.png";
import rygar from "../assets/rygar.jpg";
import tetris from "../assets/tetris.png";

const projects = [
  {
    name: "Rygar",
    description:
      "This project emulates the original Rygar (1986) arcade hardware using a virtual machine, which represents the behavior of the original game exactly.",
    logo: rygar,
    url: "http://rygar.joshbassett.info",
    repo: "nullobject/rygar-emu",
  },
  {
    name: "Risk",
    description:
      "In the game of Risk, players take turns advancing their armies and attacking other countries.",
    logo: risk,
    url: "http://risk.joshbassett.info",
    repo: "nullobject/risk",
  },
  {
    name: "Tetris",
    description:
      "The goal of Tetris is to score as many points as possible by clearing horizontal lines of blocks.",
    logo: tetris,
    url: "http://tetris.joshbassett.info",
    repo: "nullobject/tetris",
  },
  {
    name: "Memory",
    description:
      "The goal of Memory is to match all the pairs of cards in the fewest moves possible.",
    logo: memory,
    url: "http://memory.joshbassett.info",
    repo: "nullobject/memory",
  },
  {
    name: "Fkit",
    description: "A functional programming tookit for JavaScript.",
    logo: fkit,
    repo: "nullobject/fkit",
  },
  {
    name: "Bulb",
    description: "A reactive programming library for JavaScript.",
    logo: bulb,
    repo: "nullobject/bulb",
  },
];
---

<Layout title="Projects | Joshua Bassett">
  <hgroup>
    <h1>Projects</h1>
    <p>Stuff I made.</p>
  </hgroup>
  <section class="projects">
    {
      projects.map((project) => (
        <article>
          <section class="details">
            <Image src={project.logo} alt="logo" />
            <hgroup>
              <h2>{project.name}</h2>
              <p>{project.description}</p>
            </hgroup>
          </section>
          <section class="links">
            {project.url && (
              <a href={project.url} target="_blank" rel="noopener noreferrer">
                <Eye class="icon-sm" /> Play
              </a>
            )}
            <a
              href={`https://github.com/${project.repo}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <GitHub class="icon-sm" /> View source
            </a>
          </section>
        </article>
      ))
    }
  </section>
</Layout>

<style>
  .projects {
    --pico-block-spacing-horizontal: calc(var(--pico-spacing) * 1.5);
    --pico-block-spacing-vertical: calc(var(--pico-spacing) * 1.5);
    display: grid;
    column-gap: var(--pico-block-spacing-horizontal);
    row-gap: var(--pico-block-spacing-vertical);
  }

  article {
    display: flex;
    flex-direction: column;
    gap: var(--pico-block-spacing-vertical);
    justify-content: space-between;
    margin-bottom: 0;
    outline-style: solid;
    outline-color: var(--pico-card-component-outline-color);
    outline-width: var(--pico-card-component-outline-width);
  }

  .details {
    display: flex;
    flex-direction: column;
    gap: var(--pico-block-spacing-vertical);
    margin-bottom: 0;
  }

  .details hgroup {
    margin-bottom: 0;
  }

  .details h2 {
    font-size: 1.25rem;
    line-height: 1.2;
    margin-bottom: calc(var(--pico-spacing) / 4);
    text-wrap: balance;
  }

  .details img {
    border-radius: 8px;
    width: 128px;
    height: 128px;
  }

  .links {
    display: flex;
    gap: var(--pico-block-spacing-horizontal);
    margin-bottom: 0;
  }

  .links a {
    display: flex;
    align-items: center;
    gap: calc(var(--pico-block-spacing-horizontal) / 4);
  }

  @media (min-width: 768px) {
    .details {
      flex-direction: row;
      gap: var(--pico-block-spacing-horizontal);
    }
  }

  @media (min-width: 1024px) {
    .projects {
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
